*{
    border: 1px solid black;
}
#game{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

#gameboard{
    display:flex;
    background-color: rgba(19, 204, 19, 0.329);
    height: 510px;
    width: 85em;
    flex-direction: column;
    justify-content: cen;
}
.sprite{
    height:128px;
    width: 128px;
}
#resultscreen{
    display:none;
    height: 500px;
    width: 60em;
    position:absolute;
    left: 25em;
    top: 10em;
    background-color: rgb(175, 149, 110);
}
.contents{
    display:flex;
    flex-direction: row;
}
#menu{
    display:flex;
    padding: 0px;
}
#hero{
    display:flex;
    border: 1px black solid;
}
#enemy{
    display:flex;
    border: 1px black solid;
}

#log{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width:85em;
    height:13em;
    background-color: grey;
}