@media screen and (min-width :800px){
    body {
        background-color: red;
    }
}

body{
    background-image: url('assets/mossbg.jpg');
    background-size: contain;
}

#main{
text-align: center;
}

#game{
    display:flex;
    flex-direction: column;
}

#gameboard{
    display:flex;
    background-image: url('assets/bg2.jpg');
    background-size:85em 510px;
    height: 510px;
    width: 85em;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

#indexcanvas{
    background-image: url('assets/bg1.jpg');
    background-size:85em 718px;
    height: 718px;
    width: 85em;
    text-align: center;
    margin-left: 150px;
}

#log{
    display:flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width:85em;
    height:13em;
    background-color: grey;
    font-weight: bold;
    margin-left:150px
}

.sprite{
    height:128px;
    width: 128px;
}
#resultscreen{
    display:none;
    height: 500px;
    width: 60em;
    position:absolute;
    left: 25em;
    top: 10em;
    background-color: rgb(175, 149, 110);
}
.contents{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#menu{
    display:flex;
}
#hero{
    display:flex;
    border: 1px black solid;
}
#enemy{
    display:flex;
    border: 1px black solid;
}

.hp{
    color:white;
    text-align: center;
    background-color: rgba(165, 164, 164, 0.562);
    font-weight: bold;
}

#menu{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15em;
    width: 15em;
    margin-left:3em;
    margin-top: 2.5em;
    flex-wrap: wrap;
    border:5px double black ;
    background-color: rgba(66, 66, 66, 0.767);
    color: white;
    font-weight: bold;
}

#attack{
    border: 1px solid white;
    border-radius: 8%;
    width: 3em;
}

#special{
    border: 1px solid white;
    border-radius: 8%;
}
#fight{
    color:white;
    font-size: 5em;
    text-decoration: none;
    
}
#return{
    color:white;
}
#intro{
    color:white;
    text-align: center;
}